body {
    background-color: #aeaeae;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: Arial, sans-serif;
}

h1 {
    background-color: #232323;
    color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    margin: 10px 0;
}

h2 {
    background-color: #ffffff;
    color: #232323;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    margin: 10px 0;
    width: 80%;
    max-width: 600px;
}